

{% block content %}


<section id="hero-section">


    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-auto" >
      <div class="col-10 col-sm-8 col-lg-6">
        {% load static %}
        <img src="{% static 'img/learning.svg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="200" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Make your academic dreams come true with</h1>
        <h2>SCHOLARFIND</h2>
        <p class="lead"></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  
  </section>

  {% endblock %}